<ln-api-response [apiResponse]="claims$" errorMessage="Eroare la incarcarea permisiunilor" loadingMessage="Se incarca permisiunile...">
  <ng-template #success let-claimResultsAny>
    @let claimResults = asClaimResults(claimResultsAny);

    <p-panel data-cy="search-claims-panel" header="Cauta permisiuni">
      <form [formGroup]="form" class="my-2">
        <div class="flex gap-1">
          <div class="flex flex-col">
            <input data-cy="claim-type-filter" pInputText placeholder="Tip" formControlName="type" />
            <div class="flex items-end">
              <p-checkBox data-cy="type-exact-checkbox" inputId="typeExact" formControlName="typeExact" [binary]="true" class="mt-2" />
              <label for="typeExact" class="ml-2">Potrivire exacta</label>
            </div>
          </div>
          <div class="flex flex-col">
            <input data-cy="claim-value-filter" pInputText placeholder="Valoare" formControlName="value" />
            <div class="flex items-end">
              <p-checkBox data-cy="value-exact-checkbox" inputId="valueExact" formControlName="valueExact" [binary]="true" class="mt-2" />
              <label for="valueExact" class="ml-2">Potrivire exacta</label>
            </div>
          </div>
        </div>
      </form>

      <p-table
        [value]="claimResults.data"
        [paginator]="true"
        [rows]="pageSize"
        [totalRecords]="claimResults.totalCount"
        [lazy]="true"
        (onLazyLoad)="loadClaimsLazy($event)"
      >
        <ng-template #header>
          <tr>
            <th class="whitespace-nowrap">Tip permisiune</th>
            <th width="100%">Valoare permisiune</th>
          </tr>
        </ng-template>
        <ng-template #body let-claimAny>
          @let claim = asClaim(claimAny);

          <tr>
            <td>
              <a [routerLink]="'admin-claim' | route: [claim.type, claim.value]"> {{ claim.type }}</a>
            </td>
            <td>
              {{ claim.value }}
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100%">
              <span>Nu exista permisiuni care sa corespunda.</span>

              @if (form.value.type && form.value.value) {
                <span> Adauga una <a [routerLink]="'admin-claim' | route: [form.value.type, form.value.value]">aici</a>.</span>
              }
            </td>
          </tr>
        </ng-template>
      </p-table>

      <ln-error-list [errors]="errors()" />
    </p-panel>
  </ng-template>
</ln-api-response>
