<p-panel header="Schimba parola" class="w-80">
  <form [formGroup]="form" (ngSubmit)="changePassword()" autocomplete="off">
    <div class="flex flex-col gap-4">
      <p-password
        formControlName="currentPassword"
        placeholder="Parola curenta"
        class="w-full"
        [toggleMask]="true"
        [feedback]="false"
        inputStyleClass="w-full"
      />

      <p-password
        formControlName="newPassword"
        placeholder="Parola noua"
        class="w-full"
        [toggleMask]="true"
        [feedback]="true"
        inputStyleClass="w-full"
      />

      <p-password
        formControlName="confirmNewPassword"
        placeholder="Confirma parola noua"
        class="w-full"
        [toggleMask]="true"
        [feedback]="false"
        inputStyleClass="w-full"
      />

      <ln-error-list [errors]="errors()" />

      <p-button type="submit" label="Schimba parola" class="w-full" [disabled]="!form.valid" />
    </div>
  </form>
</p-panel>
