<ln-api-response [apiResponse]="roles$" errorMessage="Eroare la incarcarea rolurilor" loadingMessage="Se incarca rolurile...">
  <ng-template #success let-rolesAny>
    @let roles = asRoles(rolesAny);

    <p-panel data-cy="manage-roles-panel" header="Gestioneaza rolurile">
      <p-table [value]="roles">
        <ng-template #header>
          <tr>
            <th data-cy="role-header">Rol</th>
            <th data-cy="name-header">Nume</th>
            <th data-cy="description-header">Descriere</th>
          </tr>
        </ng-template>
        <ng-template #body let-roleAny>
          @let role = asRole(roleAny);

          <tr>
            <td>
              <a [routerLink]="'admin-role' | route: role.name"> {{ role.displayName }}</a>
            </td>
            <td>{{ role.displayName }}</td>
            <td>
              {{ role.description }}
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100%">Nu exista roluri.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </ng-template>
</ln-api-response>
