<p-drawer header="Actualizare disponibila" [(visible)]="showUpdateAvailable" position="top">
  O noua versiune a aplicatiei este disponibila. Va rugam
<a href="javascript:void(0)" (click)="reloadPage()">apasati aici</a>
  pentru a reincarca pagina si actualiza la ultima versiune.
</p-drawer>

<router-outlet></router-outlet>
<p-toast position="top-right" key="global" />

<p-blockUI [blocked]="showBlockUi()">
  <div class="text-white flex justify-center items-center gap-1 w-full">
    <i class="{{ blockUiIconClass() }}"></i>
    <span>{{ blockUiMessage() }}</span>
  </div>
</p-blockUI>
