<ln-api-response [apiResponse]="contents$" errorMessage="Eroare la incarcarea continutului" loadingMessage="Se incarca continutul...">
  <ng-template #success let-contentResultsAny>
    @let contentResults = asContentResults(contentResultsAny);

    <p-panel data-cy="manage-contents-panel" header="Gestioneaza continutul">
      <ng-template #icons>
        <p-button data-cy="create-content-button" pTooltip="Creeaza continut nou" icon="pi pi-plus" severity="success" label="Creeaza" (onClick)="showCreateDialog()" />
      </ng-template>
      <form [formGroup]="form" class="my-2">
        <div class="flex gap-2 flex-wrap">
          <div class="flex flex-col">
            <label>Cheia contine</label>
            <input data-cy="content-key-filter" pInputText placeholder="Cheia contine" formControlName="keyContains" class="w-60" />
          </div>
          <div class="flex flex-col">
            <label>Status</label>
            <ln-content-status-picker formControlName="status" [showAnyOption]="true" class="w-60" />
          </div>
          <div class="flex flex-col">
            <label>Tip</label>
            <ln-content-type-picker formControlName="type" [showAnyOption]="true" class="w-60" />
          </div>
          <div class="flex flex-col">
            <label>Acces citire</label>
            <ln-content-read-access-picker formControlName="readAccess" [showAnyOption]="true" class="w-60" />
          </div>
        </div>
      </form>

      <p-table
        [value]="contentResults.data"
        [paginator]="true"
        [rows]="pageSize"
        [totalRecords]="contentResults.totalCount"
        [lazy]="true"
        (onLazyLoad)="loadContentsLazy($event)"
      >
        <ng-template #header>
          <tr>
            <th pSortableColumn="Key">Cheie <p-sortIcon field="Key" /></th>
            <th class="whitespace-nowrap" pSortableColumn="Type">Tip <p-sortIcon field="Type" /></th>
            <th class="whitespace-nowrap" pSortableColumn="Status">Status <p-sortIcon field="Status" /></th>
            <th class="whitespace-nowrap" pSortableColumn="ReadAccess">Acces citire <p-sortIcon field="ReadAccess" /></th>
            <th class="whitespace-nowrap" pSortableColumn="CreatedDate">Creat <p-sortIcon field="CreatedDate" /></th>
            <th class="whitespace-nowrap" pSortableColumn="LastModifiedDate">Modificat <p-sortIcon field="LastModifiedDate" /></th>
          </tr>
        </ng-template>
        <ng-template #body let-contentAny>
          @let content = asContent(contentAny);

          <tr>
            <td>
              <a [routerLink]="'edit-content' | route: [content.key]"> {{ content.key }}</a>
            </td>
            <td>
              {{ content.type }}
            </td>
            <td>
              {{ content.status }}
            </td>
            <td>
              {{ content.readAccess }}
            </td>
            <td>
              {{ content.createdDate | date: "short" }}
            </td>
            <td>
              {{ content.lastModifiedDate | date: "short" }}
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100%">
              <span>Nu exista continut care sa corespunda.</span>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <ln-error-list [errors]="errors()" />
    </p-panel>
  </ng-template>
</ln-api-response>

<p-dialog data-cy="create-content-dialog" header="Creeaza continut nou" [(visible)]="createDialogVisible" [modal]="true" [style]="{width: '30rem'}">
  <form [formGroup]="createForm" class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label for="contentKey">Cheie</label>
      <input data-cy="content-key-input" pInputText id="contentKey" formControlName="key" placeholder="Introdu cheia continutului" class="w-full" />
    </div>
  </form>
  <ng-template #footer>
    <p-button data-cy="create-content-submit" label="Creeaza" severity="success" (onClick)="createContent()" [disabled]="createForm.invalid" />
    <p-button data-cy="create-content-cancel" label="Anuleaza" severity="secondary" (onClick)="hideCreateDialog()" />
  </ng-template>
</p-dialog>
