<ln-api-response [apiResponse]="content()">
  <ng-template let-contentAny #success>
    @let content = asContent(contentAny);

    <p-panel header="Editeaza continut: {{ content.key }}">
      <p class="text-sm">
        Creat {{ content.createdDate | date: "medium" }}
        @if (content.createdByUserId) {
          <ln-user-link [userId]="content.createdByUserId" />
        }
      </p>

      @if (content.lastModifiedDate) {
        <p class="text-sm">
          Ultima actualizare {{ content.lastModifiedDate | date: "medium" }} de
          @if (content.lastModifiedByUserId) {
            <ln-user-link [userId]="content.lastModifiedByUserId" />
          }
        </p>
      }
    </p-panel>

    <p-tabs value="settings" (valueChange)="onTabChanged($event)" class="mt-2">
      <p-tablist>
        <p-tab value="settings">Setari</p-tab>
        <p-tab value="editors" showByPermissions [roles]="['Administrator', 'ContentEditor']">Editori</p-tab>
        <p-tab value="readers" showByPermissions [roles]="['Administrator', 'ContentEditor']">Cititori</p-tab>
        <p-tab value="languages">Limbi</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="settings">
          <form [formGroup]="form" (ngSubmit)="onUpdate()">
            <div class="flex flex-col gap-2">
              <hr />

              <div class="field">
                <label for="key" class="text-xl">Cheie</label>
                <p class="text-sm">
                  Aceasta este cheia folosita pentru identificarea continutului. Va fi folosita in URL-ul paginii sau cheia zonei.
                </p>
                <input id="key" type="text" pInputText formControlName="key" class="w-full" />
              </div>

              <hr />

              <div class="field">
                <label for="type" class="text-xl">Tip</label>
                <ln-content-type-picker id="type" formControlName="type" class="w-full" />

                @if (form.controls.type.value === "Page") {
                  <div>
                    <a [href]="pageUrl()" target="_blank">{{ pageUrl() }}</a>
                    <p-button
                      icon="pi pi-copy"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      (onClick)="onCopyPageUrl()"
                      pTooltip="Copiaza URL"
                      tooltipPosition="top"
                    />
                  </div>
                }
              </div>

              <hr />

              <div class="field">
                <label for="status" class="text-xl">Status</label>
                <ln-content-status-picker id="status" formControlName="status" class="w-full" />

                @if (content.statusChangedDate) {
                  <p class="text-sm">
                    Status schimbat ultima data {{ content.statusChangedDate | date: "medium" }} de
                    @if (content.statusChangedByUserId) {
                      <ln-user-link [userId]="content.statusChangedByUserId" />
                    }
                  </p>
                }
              </div>

              <hr />

              <div class="field">
                <label for="editorRoles" class="text-xl">Roluri care pot edita</label>
                <p class="text-sm">
                  Utilizatorii in rolurile <span class="font-bold">Administrator</span> si <span class="font-bold">Medic Editor</span> pot edita
                  mereu.
                </p>
                <ln-roles-picker id="editorRoles" formControlName="editorRoles" class="w-full" />
              </div>

              <hr />

              <div class="field">
                <label for="readAccess" class="text-xl">Acces citire</label>
                <ln-content-read-access-picker id="readAccess" formControlName="readAccess" class="w-full" />
              </div>

              @if (form.controls.readAccess.value === "Explicit") {
                <hr />

                <div class="field">
                  <label for="readerRoles" class="text-xl">Roluri care pot citi</label>
                  <p class="text-sm">
                    Utilizatorii in rolurile <span class="font-bold">Administrator</span> si <span class="font-bold">Medic Editor</span> pot citi
                    mereu.
                  </p>
                  <ln-roles-picker id="readerRoles" formControlName="readerRoles" class="w-full" />
                </div>
              }

              <hr />

              <p-button type="submit" label="Salveaza" [disabled]="!form.valid || form.pristine" />
            </div>
          </form>
        </p-tabpanel>
        <p-tabpanel value="editors">
          <p>
            Utilizatorii din rolurile <span class="font-bold">Administrator</span> si <span class="font-bold">Medic Editor</span> pot edita mereu, la
            fel si rolurile specificate in sectiunea <span class="font-bold">Roluri care pot edita</span> din tabul
            <span class="font-bold">Setari</span>.
          </p>
          <p>
            Foloseste acest tab pentru a adauga utilizatori specifici, in afara acelor roluri, care pot edita setarile si limbile acestui continut.
          </p>
          <ln-claim-users-manager type="Content:Editor" [value]="content.id | toString" />
        </p-tabpanel>
        <p-tabpanel value="readers">
          <p>
            Daca setezi <span class="font-bold">Acces citire</span> la <span class="font-bold">Explicit</span> in tabul
            <span class="font-bold">Setari</span>, doar utilizatorii cu permisiuni si cei adaugati aici pot citi continutul.
          </p>
          <ln-claim-users-manager type="Content:Reader" [value]="content.id | toString" />
        </p-tabpanel>
        <p-tabpanel value="languages">
          <ln-api-response [apiResponse]="languages()">
            <ng-template let-languageAny #success>
              <p>Seteaza continutul pentru diferite limbi suportate accesand link-urile de mai jos.</p>

              @let languages = asLanguages(languageAny);
              <ul>
                @for (language of languages; track language.languageCode) {
                  <li>
                    <a [routerLink]="'edit-language' | route: [this.key(), language.languageCode]">
                      {{ language.languageName }} ({{ language.languageCode }})
                    </a>
                  </li>
                }
              </ul>
            </ng-template>
          </ln-api-response>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
    <ln-error-list [errors]="errors()" />
  </ng-template>
  <ng-template #null>
    <p class="text-red-500">Continutul cu cheia "{{ key() }}" nu a fost gasit.</p>
  </ng-template>
</ln-api-response>
