<ln-branded-card>
    <span title>Acces refuzat</span>
    <span subtitle>Nu aveti permisiunile necesare. Contactati un administrator.</span>

    <div class="flex flex-col items-center">
        <img src="assets/images/access/asset-access.svg" alt="Acces refuzat" class="mb-8" width="80%" />
        <button pButton pRipple icon="pi pi-arrow-left" label="Acasa" class="p-button-text" [routerLink]="'user-home' | route"></button>
        <button pButton pRipple icon="pi pi-arrow-left" label="Autentificati-va cu alt cont" class="p-button-text" (click)="logOut()"></button>
    </div>
</ln-branded-card>
